In [2]:
import pandas as pd
import numpy as np

column_name = ['nama_stasiun', 'rr', 'tgl_pengamatan_ch', 'tx','tgl_pengamatan_tx','tn','tgl_pengamatan_tn','tAvg','tgl_pengamatan_tAvg','rh','tgl_pengamatan_rh','wx','tgl_pengamatan_wx']
dataset = pd.read_csv('extreme-climate-dataset.csv', sep=';', header=None, skiprows=1, names=column_name)

dataset

,nama_stasiun,rr,tgl_pengamatan_ch,tx,tgl_pengamatan_tx,tn,tgl_pengamatan_tn,tAvg,tgl_pengamatan_tAvg,rh,tgl_pengamatan_rh,wx,tgl_pengamatan_wx
0,Balai Besar Meteorologi Klimatologi dan Geofis...,130.9,11/05/2020,37.0,14/10/2021,17.6,15/07/2022,31.6,13/01/2020,56.0,13/01/2020,1,28/06/2020
1,Pos Meteorologi Penggung,148.0,14/01/2020,37.0,14/10/2020,21.0,27/07/2020,31.5,30/09/2020,51.0,12/09/2020,2,06/04/2020
2,Pos Meteorologi Tampa Padang Mamuju,118.0,10/05/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,27/05/2022
3,Pos Pengamatan Kahang-Kahang,124.0,18/01/2021,33.6,19/11/2020,19.2,26/07/2021,27.9,07/04/2022,NaN,NaN,3,09/04/2020
4,Stasiun Geofisika Bandung,160.0,02/05/2020,32.4,23/08/2020,15.6,27/07/2021,28.9,04/10/2020,46.0,04/10/2020,1,24/04/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Stasiun Meteorologi Wamena Jaya Wijaya,82.4,17/02/2022,30.4,18/05/2020,9.4,30/06/2022,22.8,05/05/2021,64.0,03/11/2021,2,23/01/2020
166,Stasiun Meteorologi Yogyakarta,71.3,27/05/2022,32.9,11/05/2022,17.8,26/07/2022,29.5,05/05/2022,70.0,25/07/2022,2,03/06/2022
167,Stasiun Meteorologi Yuvai Semaring,97.7,20/05/2021,NaN,NaN,14.2,08/06/2022,25.3,08/05/2020,71.0,14/10/2021,1,01/01/2020
168,Stasiun Meteorologi Zainuddin Abdul Madjid,127.0,29/05/2020,36.9,10/02/2022,16.6,25/07/2022,29.2,14/11/2020,70.0,20/08/2022,1,02/04/2021
169,Stasiun Pemantau Atmosfer Global Bukit Koto Ta...,47.0,23/08/2020,29.4,12/08/2020,15.2,02/12/2020,23.7,20/08/2020,83.0,24/08/2020,2,06/08/2020

## Preprocessing

In [3]:
dataset.dtypes

nama_stasiun            object
rr                     float64
tgl_pengamatan_ch       object
tx                     float64
tgl_pengamatan_tx       object
tn                     float64
tgl_pengamatan_tn       object
tAvg                   float64
tgl_pengamatan_tAvg     object
rh                     float64
tgl_pengamatan_rh       object
wx                       int64
tgl_pengamatan_wx       object
dtype: object

In [4]:
dataset.drop(['tgl_pengamatan_ch', 'tgl_pengamatan_tx','tgl_pengamatan_tn','tgl_pengamatan_tAvg','tgl_pengamatan_rh','tgl_pengamatan_wx'], axis=1, inplace=True)
dataset

,nama_stasiun,rr,tx,tn,tAvg,rh,wx
0,Balai Besar Meteorologi Klimatologi dan Geofis...,130.9,37.0,17.6,31.6,56.0,1
1,Pos Meteorologi Penggung,148.0,37.0,21.0,31.5,51.0,2
2,Pos Meteorologi Tampa Padang Mamuju,118.0,NaN,NaN,NaN,NaN,2
3,Pos Pengamatan Kahang-Kahang,124.0,33.6,19.2,27.9,NaN,3
4,Stasiun Geofisika Bandung,160.0,32.4,15.6,28.9,46.0,1
...,...,...,...,...,...,...,...
165,Stasiun Meteorologi Wamena Jaya Wijaya,82.4,30.4,9.4,22.8,64.0,2
166,Stasiun Meteorologi Yogyakarta,71.3,32.9,17.8,29.5,70.0,2
167,Stasiun Meteorologi Yuvai Semaring,97.7,NaN,14.2,25.3,71.0,1
168,Stasiun Meteorologi Zainuddin Abdul Madjid,127.0,36.9,16.6,29.2,70.0,1
169,Stasiun Pemantau Atmosfer Global Bukit Koto Ta...,47.0,29.4,15.2,23.7,83.0,2

In [5]:
dataset.describe()

               rr           tx          tn        tAvg          rh          wx
count  170.000000   165.000000  169.000000  161.000000  160.000000  170.000000
mean   158.651765   582.739394   19.357396   29.782609   65.331250    1.594118
std     56.857275  2268.813278    2.434613    1.811545    7.584096    0.570446
min     47.000000    27.200000    9.400000   21.500000   38.000000    1.000000
25%    118.525000    34.800000   18.800000   29.500000   60.000000    1.000000
50%    149.300000    35.500000   20.000000   30.000000   67.000000    2.000000
75%    188.700000    36.800000   21.000000   30.600000   70.250000    2.000000
max    420.000000  9999.000000   23.000000   33.600000   83.000000    3.000000

- 8888: data tidak terukur
- 9999: Tidak Ada Data (tidak dilakukan pengukuran)

In [6]:
# delete row with 8888 value
dataset.drop(dataset[dataset['tx'] == 8888].index, inplace=True)
dataset.drop(dataset[dataset['tx'] == 9999].index, inplace=True)
dataset

,nama_stasiun,rr,tx,tn,tAvg,rh,wx
0,Balai Besar Meteorologi Klimatologi dan Geofis...,130.9,37.0,17.6,31.6,56.0,1
1,Pos Meteorologi Penggung,148.0,37.0,21.0,31.5,51.0,2
2,Pos Meteorologi Tampa Padang Mamuju,118.0,NaN,NaN,NaN,NaN,2
3,Pos Pengamatan Kahang-Kahang,124.0,33.6,19.2,27.9,NaN,3
4,Stasiun Geofisika Bandung,160.0,32.4,15.6,28.9,46.0,1
...,...,...,...,...,...,...,...
165,Stasiun Meteorologi Wamena Jaya Wijaya,82.4,30.4,9.4,22.8,64.0,2
166,Stasiun Meteorologi Yogyakarta,71.3,32.9,17.8,29.5,70.0,2
167,Stasiun Meteorologi Yuvai Semaring,97.7,NaN,14.2,25.3,71.0,1
168,Stasiun Meteorologi Zainuddin Abdul Madjid,127.0,36.9,16.6,29.2,70.0,1
169,Stasiun Pemantau Atmosfer Global Bukit Koto Ta...,47.0,29.4,15.2,23.7,83.0,2

In [7]:
# preprocessing
dataset = dataset.dropna()
dataset

,nama_stasiun,rr,tx,tn,tAvg,rh,wx
0,Balai Besar Meteorologi Klimatologi dan Geofis...,130.9,37.0,17.6,31.6,56.0,1
1,Pos Meteorologi Penggung,148.0,37.0,21.0,31.5,51.0,2
4,Stasiun Geofisika Bandung,160.0,32.4,15.6,28.9,46.0,1
5,Stasiun Geofisika Banjarnegara,135.0,31.2,13.4,23.2,75.0,1
9,Stasiun Geofisika Kepahiang,125.4,32.4,16.2,26.3,71.0,1
...,...,...,...,...,...,...,...
164,Stasiun Meteorologi Utarom,156.1,36.9,21.8,32.2,65.0,2
165,Stasiun Meteorologi Wamena Jaya Wijaya,82.4,30.4,9.4,22.8,64.0,2
166,Stasiun Meteorologi Yogyakarta,71.3,32.9,17.8,29.5,70.0,2
168,Stasiun Meteorologi Zainuddin Abdul Madjid,127.0,36.9,16.6,29.2,70.0,1
169,Stasiun Pemantau Atmosfer Global Bukit Koto Ta...,47.0,29.4,15.2,23.7,83.0,2

In [8]:
dataset.describe()

               rr          tx          tn        tAvg          rh          wx
count  149.000000  149.000000  149.000000  149.000000  149.000000  149.000000
mean   159.836242   39.712081   19.485906   29.800000   65.181208    1.617450
std     58.292444   32.911946    2.406551    1.829156    7.749502    0.552602
min     47.000000   27.200000    9.400000   21.500000   38.000000    1.000000
25%    118.600000   34.800000   18.800000   29.500000   59.000000    1.000000
50%    149.600000   35.500000   20.100000   30.100000   67.000000    2.000000
75%    190.500000   36.400000   21.000000   30.600000   70.000000    2.000000
max    420.000000  330.000000   23.000000   33.600000   83.000000    3.000000

In [9]:
classify = ['TINGGI', 'SEDANG', 'RENDAH']
dataset_classified = dataset.copy()
dataset_classified['rr_level'] = pd.cut(dataset['rr'], bins=3, labels=classify)
dataset_classified['tx_level'] = pd.cut(dataset['tx'], bins=3, labels=classify)
dataset_classified['tn_level'] = pd.cut(dataset['tn'], bins=3, labels=classify)
dataset_classified['tAvg_level'] = pd.cut(dataset['tAvg'], bins=3, labels=classify)
dataset_classified['rh_level'] = pd.cut(dataset['rh'], bins=3, labels=classify)
dataset_classified['wx_level'] = pd.cut(dataset['wx'], bins=3, labels=classify)
dataset_classified.drop(['rr', 'tx', 'tn', 'tAvg', 'rh', 'wx'], axis=1, inplace=True)
dataset_classified

,nama_stasiun,rr_level,tx_level,tn_level,tAvg_level,rh_level,wx_level
0,Balai Besar Meteorologi Klimatologi dan Geofis...,TINGGI,TINGGI,SEDANG,RENDAH,SEDANG,TINGGI
1,Pos Meteorologi Penggung,TINGGI,TINGGI,RENDAH,RENDAH,TINGGI,SEDANG
4,Stasiun Geofisika Bandung,TINGGI,TINGGI,SEDANG,SEDANG,TINGGI,TINGGI
5,Stasiun Geofisika Banjarnegara,TINGGI,TINGGI,TINGGI,TINGGI,RENDAH,TINGGI
9,Stasiun Geofisika Kepahiang,TINGGI,TINGGI,SEDANG,SEDANG,RENDAH,TINGGI
...,...,...,...,...,...,...,...
164,Stasiun Meteorologi Utarom,TINGGI,TINGGI,RENDAH,RENDAH,SEDANG,SEDANG
165,Stasiun Meteorologi Wamena Jaya Wijaya,TINGGI,TINGGI,TINGGI,TINGGI,SEDANG,SEDANG
166,Stasiun Meteorologi Yogyakarta,TINGGI,TINGGI,SEDANG,SEDANG,RENDAH,SEDANG
168,Stasiun Meteorologi Zainuddin Abdul Madjid,TINGGI,TINGGI,SEDANG,SEDANG,RENDAH,TINGGI
169,Stasiun Pemantau Atmosfer Global Bukit Koto Ta...,TINGGI,TINGGI,SEDANG,TINGGI,RENDAH,SEDANG

In [26]:
# find coordinate

import json
from urllib import request

arr_link_request = [
    'https://gis.bmkg.go.id/arcgis/rest/services/Distribusi_Stasiun/MapServer/0/query?text=Meteorologi&f=json',
    'https://gis.bmkg.go.id/arcgis/rest/services/Distribusi_Stasiun/MapServer/1/query?text=Klimatologi&f=json',
    'https://gis.bmkg.go.id/arcgis/rest/services/Distribusi_Stasiun/MapServer/2/query?text=Geofisika&f=json',
    'https://gis.bmkg.go.id/arcgis/rest/services/Distribusi_Stasiun/MapServer/3/query?text=Stasiun&f=json',
    'https://gis.bmkg.go.id/arcgis/rest/services/Distribusi_Stasiun/MapServer/4/query?text=Balai+Besar&f=json',
]

list_of_allstasiun = []

for link in arr_link_request:
    with request.urlopen(link) as url:
        data = json.loads(url.read().decode())
        for stasiun in data['features']:
            list_of_allstasiun.append(stasiun['attributes'])
            list_of_allstasiun[-1]['x'] = stasiun['geometry']['x']
            list_of_allstasiun[-1]['y'] = stasiun['geometry']['y']

df_allstasiun = pd.DataFrame(list_of_allstasiun)
column_stasiun = ['nama_stasiun', 'longitude', 'latitude']
# change df_allstasiun column name to column_stasiun
df_allstasiun.columns = column_stasiun
df_allstasiun

                                          nama_stasiun  longitude  latitude
0             Stasiun Meteorologi Sultan Iskandar Muda   95.41700   5.52244
1                     Stasiun Meteorologi Malikussaleh   96.94749   5.22869
2        Stasiun Meteorologi Cut Nyak Dhien Nagan Raya   96.24796   4.04928
3                     Stasiun Meteorologi Maimun Saleh   95.33785   5.87655
4                        Stasiun Meteorologi FL Tobing   98.88000   1.55000
..                                                 ...        ...       ...
187  Balai Besar Meteorologi Klimatologi dan Geofis...   98.64000   3.53970
188  Balai Besar Meteorologi Klimatologi dan Geofis...  106.75636  -6.30253
189  Balai Besar Meteorologi Klimatologi  dan Geofi...  115.17860  -8.73810
190  Balai Besar Meteorologi Klimatologi dan Geofis...  140.68624  -2.57522
191  Balai Besar Meteorologi Klimatologi dan Geofis...  119.45227  -5.14283

[192 rows x 3 columns]

In [16]:
import matplotlib.pyplot as plt
import seaborn as sns

# prepare a map of Indonesia from onlinestatbook.com/2/graphics/map_indonesia.html
# and save it as indonesia.png
# then we can use it as a background for our map
indonesia_map = plt.imread('indonesia.png')

# create a map of Indonesia
plt.figure(figsize=(20, 10))
plt.imshow(indonesia_map, extent=[95, 141, -11, 6], alpha=0.5)
plt.scatter(dataset['lng'], dataset['lat'], c='red', s=10)
plt.show()

FileNotFoundError: [Errno 2] No such file or directory: 'indonesia.png'

## Get to Know more About Data

In [11]:
dataset.dtypes

nama_stasiun     object
rr              float64
tx              float64
tn              float64
tAvg            float64
rh              float64
wx                int64
dtype: object

In [12]:
dataset.describe()

               rr          tx          tn        tAvg          rh          wx
count  149.000000  149.000000  149.000000  149.000000  149.000000  149.000000
mean   159.836242   39.712081   19.485906   29.800000   65.181208    1.617450
std     58.292444   32.911946    2.406551    1.829156    7.749502    0.552602
min     47.000000   27.200000    9.400000   21.500000   38.000000    1.000000
25%    118.600000   34.800000   18.800000   29.500000   59.000000    1.000000
50%    149.600000   35.500000   20.100000   30.100000   67.000000    2.000000
75%    190.500000   36.400000   21.000000   30.600000   70.000000    2.000000
max    420.000000  330.000000   23.000000   33.600000   83.000000    3.000000

Keterangan :
- 8888: data tidak terukur
- 9999: Tidak Ada Data (tidak dilakukan pengukuran)
- Tn: Temperatur minimum	 (Â°C)
- Tx: Temperatur maksimum (Â°C)
- Tavg: Temperatur rata-rata (Â°C)
- RH_avg: Kelembapan rata-rata (%)
- RR: Curah hujan (mm)
- ss: Lamanya penyinaran matahari (jam)
- ff_x: Kecepatan angin maksimum (m/s)
- ddd_x: Arah angin saat kecepatan maksimum (Â°)
- ff_avg: Kecepatan angin rata-rata (m/s)
- ddd_car: Arah angin terbanyak (Â°)